<!-- header START -->
<div id="header">

	<!-- banner START -->
		<!-- banner END -->
	<div id="caption">
		<h1 id="title"><a href="<%= root_path %>">Maycamp Arena</a></h1>
		<div id="tagline">Курс по алгоритми в HackBulgaria</div>
	</div>

	<div class="fixed"></div>
</div>
